/* ----------- Defining Styles ------------- */

:root {
  /* --- Colors --- */
  --Primary-Cyan: #2bb3b1;
  --Primary-Bright-Yellow: #bfdf32;
  --Secoundary-Light-Cyan: #4abebd;
  --Secoundary-Dark-Cyan: #0c7f7d;
  --Secoundary-Bright-Cyan: #74d6df;
  --Secoundary-Yellow: #8ba80d;
  --Secoundary-Grey: #73808d;
  --Neutral-Light-Gray: #e6eff6;
  --Neutral-Grayish-Blue: #a0a3aa;
  --Background-Light-Grey: #e6eff6;
  --Background-Box-White: #fff;
  --Container-Shadow: #cadbeb;
  --Button-Shadow: #25a3a2;

  /* --- Typography --- */
  --Body-Font-Size: 14px;
  --Header1-Font-Size: 24px;
  --Header2-Font-Size: 20px;
  --Button-Font-Size: 14px;
  --Price-Font-Size: 32px;

  /* --- CSS Style --- */
  font-family: "Karla", sans-serif;
}

/* ----------- General Styles ------------- */
body {
  background-color: var(--Background-Light-Grey);
  width: 1440px;
  line-height: 1.3em;
}

/* ----------- Container Styles ------------- */
.container {
  display: grid;
  width: 640px;
  height: 480px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 100px auto 15px auto;
  box-shadow: 10px 10px 20px var(--Container-Shadow);
}

/* ----------- Row Styles ------------- */

.row_1 {
  grid-column: span 2;
  background-color: var(--Background-Box-White);
  border-radius: 10px 10px 0px 0px;
  padding: 30px 40px 25px;
}
.row_2 {
  background-color: var(--Primary-Cyan);
  color: var(--Background-Box-White);
  border-radius: 0px 0px 0px 10px;
  padding: 30px 40px;
}

.row_3 {
  background-color: var(--Secoundary-Light-Cyan);
  color: var(--Background-Box-White);
  border-radius: 0px 0px 10px 0px;
  padding: 30px 25px 25px 40px;
}

/* ----------- Typography ------------- */

h1 {
  font-size: var(--Header1-Font-Size);
  font-weight: 700;
  color: var(--Primary-Cyan);
  margin-bottom: 28px;
}

h2 {
  font-size: var(--Header2-Font-Size);
  font-weight: 700;
  margin-bottom: 18px;
}

p {
  font-size: var(--Body-Font-Size);
  font-weight: 200;
  margin-bottom: 12px;
}

li {
  font-size: var(--Body-Font-Size);
  font-weight: 200;
}

.row_1__sub-title {
  color: var(--Primary-Bright-Yellow);
  margin-bottom: 16px;
  font-weight: bold;
}

.row_1__paragraph {
  color: var(--Neutral-Grayish-Blue);
  font-weight: 300;
}

.column_1__price {
  font-size: var(--Price-Font-Size);
  font-weight: bold;
}

.column_1__price-color {
  color: rgba(255, 255, 255, 0.8);
}

/* ----------- Button ------------- */
.row_2__button {
  width: 240px;
  height: 50px;
  border: 1px solid #4f9d47;
  border-radius: 5px;
  background-color: var(--Primary-Bright-Yellow);
  font-size: var(--Button-Font-Size);
  font-weight: bold;
  margin: 18px 0px;
  color: var(--Background-Box-White);
  box-shadow: 10px 10px 15px var(--Button-Shadow);
}

/* ----------- Footer ------------- */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--Secoundary-Grey);
}
.attribution a {
  color: var(--Secoundary-Yellow);
}

.attribution a:hover {
  color: var(--Secoundary-Dark-Cyan);
}
