/* ----------- Defining Styles ------------- */

:root {
  /* --- Colors --- */
  --Primary-Cyan: hsl(179, 62%, 43%);
  --Primary-Bright-Yellow: hsl(71, 73%, 54%);
  --Secoundary-Light-Cyan: hsl(179, 61%, 75%);
  --Neutral-Light-Gray: hsl(204, 43%, 93%);
  --Neutral-Grayish-Blue: hsl(218, 22%, 67%);
  --Background-Light-Grey: #e6eff6;
  --Background-Box-White: #fff;

  /* --- Typography --- */
  --Body-Font-Size: 16px;
  --Header2-Font-Size: 40px;
  --Header3-Font-Size: 32px;
  --Button-Font-Size: 14px;
  --Price-Font-Size: 48px;

  /* --- CSS Style --- */
  font-family: "Karla", sans-serif;
}

/* ----------- General Styles ------------- */
body {
  background-color: var(--Background-Light-Grey);
  width: 1440px;
}

/* ----------- Container Styles ------------- */
.container {
  width: 640px;
  height: auto;
  padding: 16px;
}

/* ----------- Row Styles ------------- */

.row_1 {
  background-color: var(--Background-Box-White);
  padding: 50px;
  border-radius: 10px 10px 0px 0px;
}
.row_2 {
  display: inline-flex;
}
/* ----------- Column Styles ------------- */
.column_1 {
  background-color: var(--Primary-Cyan);
  padding: 50px;
  border-radius: 0px 0px 0px 10px;
}

.column_2 {
  background-color: var(--Secoundary-Light-Cyan);
  padding: 50px;
  border-radius: 0px 0px 10px 0px;
}
