/* General Styles */
body {
  background-color: #ebe9f2;
  font-family: arial, verdana, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.body-content {
  width: 570px;
  height: 523px;
  padding: 32px;
  background-color: #2300b1;
}

h1 {
  color: #75bdff;
  margin: 0px;
  padding-bottom: 28px;
}

p {
  color: #fff;
  font-size: 18px;
  padding-bottom: 48px;
}

/* Photo Styles */

img {
  width: 400px;
  border-radius: 10px;
  padding-bottom: 48px;
}

/* Footer Styles */

.footer span {
  color: #75bdff;
  font-size: 16px;
  padding-right: 45px;
}
